#Interface {
    height: 50%;
    position: absolute;
    top: 75px;
    left: 50px;
}

#pageTitle {
    position: absolute;
    color: black;
    font: normal bold 25px Times, serif;
    left: 15px;
}

#FileSelection
{
    position: relative;
    top: 5px;
}

#Display {
    position: absolute;
    right: 50px;
    top: 50px;
}

#buttons{
    position: relative;
    top: 10px;
}

.buttons{
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

#MyTest {
    background-color: black;
    border-style: solid;
    border-width: 2px;
}

#fps{
    font-size: 25px;
}

#Ready{
    color: red;
    font-size: 25px;
}